<link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,200;0,300;0,500;0,600;0,700;1,200&display=swap" rel="stylesheet">
<style> @import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,200;0,300;0,500;0,600;0,700;1,200&display=swap'); </style>
*{
  padding:0;
  margin: 0;
  box-sizing:border-box;
}
:root{
  --primary-color:#ff7613;
  --text-color:#d8d0d0;
}
html{
  font-size: 150%;
}
body{
  font-family: enter, sans-serif;
  background-color: black;
  color:white
}
.img{
  width:50%;
}
a{
  text-decoration:none;
  color:white;
}
.description{
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 400;
  color:var(--text-color);
}
  .title{
  color:var(--primary-color);
font-weight: 700;
font-size:2rem;
text-transform: uppercase ;
  }
  item-pretitle{
    font-size: 1.4rem;
    color:var(--text-color);
    font-weight: 300;
  }
  item-title{
    font-size: 1.4rem;
    color:white;
    margin:0.8rem 0;
  }
  .item-subtitle{
    font-size: 1.4rem;
    color:var(--text-color);
    font-weight: 400;
  }

  /*layout*/
.container{
  max-width:1000px;
  width: 80%;
  margin:0 auto;
  display: grid;
  padding: 5rem ;
  background: #878787;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
}
 @media only screen and (max-width:768){
  .container{
    width: 200%;
    grid-template-columns: 1fr;
    padding:5rem;
    gap:7rem;
  }
 }
 .group-1,.group-2{
  flex-direction: 2rem;
  gap:5rem;
 }
 
 .group-3{
  max-width: 700px;
  width:300;
  margin: 1 auto;
  grid-column: 1/ -1;
  display:flex;
  flex-direction: row;
  gap:0.5rem;

 }
 @media only screen (max-width: 768px){
  .profile{
  margin-buttom: 0;
  }

  .group-3{
    flex-direction: column;
  }

 }
 .profile{
  grid-column: 1/ -1;
  margin-bottom: 2rem;
 }
  /*profile*/
  .profile-container{
display: flex;
gap:2rem;
  }
  .profile-profileImg{
    max-width: 250px;
  }
  .profile-name-firstName{
    color:white;
    font-weight  :200;
    font-size:clamp(2rem, 8vw, 4rem);
    text-transform: uppercase;
    display:block;
    margin-bottom: -0.8rem;

  }
  .profile-name-lastName{
    color:var(--primary-color-color);
    font-weight  :700;
    font-size:clamp(2.5rem, 15vw, 7rem);
    text-transform: uppercase;
    display: black;
  }
.profile-title{
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: uppercase;

}
.downloadBtn{
  display:black;
  text-decoration: underline;
  font-size:1.6rem;
  margin-top: 1rem;

}
.downloadbtn:hover{
   color: var(--primary-color);
}
@media only screen (max-width: 768px){
  .prifile-container{
    flex-direction:column;
  }
}
/*expertise*/
.skils-list{
  margin-top: 1rem;
  margin-left: 2rem ;
  line-height:2rem
}
/*ref*/
 .ref-item{
  margin-top: 2rem;
 }
 .ref-name{
  font-size:1.6rem;
  font-weight: 700;
 } 
  /*edu*/
  .edu-item{
    margin-top: 2rem;
  }
  .certification-item{
    margin-top: 2rem;
  }
  .exp{
    margin-top: 2rem;
  }
  .award-item{
    margin-top: 2rem; 
  }
  /*interest*/
  .interest-item{
    margin-top: 2rem;
    display:flex;
    align-items:center;
    flex-wrap:wrap;
    gap:2rem;
  }
  .interest-items{
    font-size: 1.4rem;
    display:flex;
    flex-direction:column;
    align-items:center;
justify-content:center;
gap:0.5rem;
color: var(--text-color);
  }
  .interest-item svg{
width:4rem;
  }
  .social-item{
    margin-top: 2rem;
  }
  .social-item{
    font-size:1.3rem;
    margin-top: 1.5rem;
    display:flex;
    gap:1.5rem;
    align-items:center;
    justify-content:flex-start ;
    color:var(--text-color);

  }
  .social-item:hover{
    color:var(--primary-color);
  }
  .social-item svg{
    width:2rem;
  }

.t1 {
  border: 0;
  height: 55px;
  background-image: url(image/type_1.png);
  background-repeat: no-repeat;
  }
@media only screen (max-width: 768px){
.t1{
    margin:0 auto;
  }
}

   
